---
layout: default
---

<div id="home">
   <div class="edition-info">
	   <div class="book-cover">
	     <img alt="Edition cover" class="img-responsive" src="https://s3.amazonaws.com/je-public/assets-juxtaeditions/edition-cover.jpg">
		</div>
		<div id="edition-data">
         {% for edition in site.data.editions %}
            <h1>{{ edition.title }}</h1>
            <p>{{ edition.description }}</p>
            {% break %}
         {% endfor %}
		</div>
		<div style="clear:both;"></div>
	</div>
   
	<div class="edition-info" id="docs-panel">
      <h3>Documents</h3>
	    <ul>
          {% for document in site.data.documents %}
		      <li><a href="{{ document.url }}">{{ document.title}}</a></li>
          {% endfor %}
	    </ul>
	</div>

</div>
