<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>

	 <div id="site-header">
	    <a href="http://juxta-editions.herokuapp.com/"><img alt="Juxta logo" id="juxta-logo" src="images/juxta-logo.png" /></a><span class="super">Editions</span>
		 <div id="links">
            <a class="extra" href="/">Edition Home</a>
		 </div>
	 </div>
    
	 <div id="main-content">
         {{ content }}
	 </div>

    </body>
</html>
